

<nav>
    <button type="button" class="btn btn-primary mx-1" routerLink="databinding">Databinding</button>
    <button type="button" class="btn btn-primary mx-1" routerLink="directive">Directive</button>
    <button type="button" class="btn btn-primary mx-1" routerLink="pipes">Pipes</button>
    <button type="button" class="btn btn-primary mx-1" routerLink="parent">Parent</button>
    <button type="button" class="btn btn-primary mx-1" routerLink="angularform">Angularform</button>
    <button type="button" class="btn btn-primary mx-1" routerLink="servdata">ServData</button>
    <button type="button" class="btn btn-outline-warning mx-1" routerLink="crud">CRUD</button>
</nav>